# Project
COMPOSE_PROJECT_NAME=transcendance

# Domains (local)
APP_HOST=
GRAFANA_HOST=
TRAEFIK_DASHBOARD_HOST=

# Ports
TRAEFIK_HTTP_PORT=
TRAEFIK_HTTPS_PORT=
TRAEFIK_DASHBOARD_PORT=
TRAEFIK_LOG_LEVEL=

# App
APP_CONTAINER_NAME=
APP_INTERNAL_PORT=
NODE_ENV=
BASE_URL=

# Postgres
POSTGRES_CONTAINER_NAME=
POSTGRES_DB=
POSTGRES_USER=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ROOT_URL=


# Prisma connection (password vient du secret)
# IMPORTANT: garde ce format, on le construira dans l'app via fichier secret plus tard
DATABASE_HOST=
DATABASE_PORT=

# Volumes (option)
PGDATA_VOLUME_NAME=